* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

aside {
  display: none;
}

h3 {
  margin: 0;
}

.container {
  padding: 0 20px;
}

.navigation ul {
  list-style-type: none;
  padding-top: 15px;
  padding-inline-start: 20px;
}

.navigation ul li {
  margin-top: 20px;
  transition: all 0.2s linear;
  width: fit-content;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.2s linear;
}

.navigation ul li:hover {
  transform: scale(1.1);
  background: black;
}

.navigation ul li:hover a {
  color: white;
}

.intro {
  text-align: center;
  padding: 30px 0;
  background-color: white;
}

.profile-pic {
  padding: 0 20vw;
  animation: slideinTop 0.5s linear;
}

.intro > h1,
p {
  animation: slideinTop 0.5s linear;
}

.intro address {
  animation: slideinBottom 0.5s linear;
}

.profile-pic img {
  border-radius: 50px;
  max-height: 200px;
  max-width: 100%;
  border: 1px solid black;
  box-shadow: rgb(0 0 0 / 40%) -5px 5px, rgb(0 0 0 / 30%) -10px 10px,
    rgb(0 0 0 / 20%) -15px 15px, rgb(0 0 0 / 10%) -20px 20px,
    rgb(0 0 0 / 5%) -25px 25px;
}

.intro-address {
  font-style: normal;
}

.intro-address span {
  display: inline-block;
  margin-top: 15px;
  font-weight: 700;
  color: #6a6a6a;
}

.intro-address .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-address i {
  margin: 10px 15px;
  cursor: pointer;
}

.intro-address i:hover {
  animation: shake 0.5s 2;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(5deg);
  }
}

.about {
  background-color: white;
  padding: 20px;
}

.skills {
  padding: 30px 20px 20px;
  color: white;
  background-color: black;
}

.skills h2 {
  color: white;
}

canvas {
  height: 300px;
  width: 300px;
  margin: auto;
  display: block;
}

.experience {
  padding: 20px;
  background-color: white;
}

.single-experience {
  margin-top: 30px;
}

.single-experience ul {
  padding-inline-start: 18px;
}

.single-experience h3 {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.single-experience h3:hover {
  animation: bounce 0.3s ease-in-out;
}

.single-experience span {
  color: #6a6a6a;
}

.projects {
  padding: 20px;
  background-color: black;
  color: white;
}

.card {
  position: relative;
  max-width: 300px;
  min-height: 210px;
  background-color: white;
  border-radius: 15px;
  color: black;
  text-align: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.card .img {
  width: 90%;
  position: absolute;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  left: 0;
  right: 0;
  margin: auto;
  top: -40px;
  border: 1px solid black;
  display: block;
  z-index: 1;
  transition: 0.25s ease-out;
  height: 210px;
}

.project-palette {
  background-image: url(./assets/imgs/palettes.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.project-maze {
  background-image: url(./assets/imgs/maze.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.project-landing {
  background-image: url(./assets/imgs/landingPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  padding: 15px 10px;
  opacity: 0;
  transition: 0.45s ease-out;
  transition-delay: 0.05s;
}

.card:hover .img {
  top: -80px;
}
.card:hover .content {
  padding-top: 160px;
  opacity: 1;
}
.card:hover {
  height: fit-content;
}

.content h3 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.content h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.25s linear;
  z-index: -1;
}

.content h3:hover {
  border: 10px;
  cursor: pointer;
  color: white;
}

.content h3:hover::after {
  transform: translateX(0);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideinTop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideinBottom {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 900px) {
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 35%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .desktop-right {
    width: 65%;
    margin-left: 35%;
    background-color: black;
    padding-top: 15px;
    padding-left: 10px;
  }

  .intro {
    border-top-left-radius: 15px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .intro-address {
    display: flex;
    column-gap: 100px;
  }

  .about {
    border-bottom-left-radius: 15px;
  }

  .experience {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .projects-list .card {
    align-self: flex-start;
  }

  .profile-pic {
    padding: 0;
  }

  .intro .profile-pic {
    display: none;
  }

  .skills {
    position: relative;
    padding-bottom: 0;
  }

  .skills h2 {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    animation: blink 5s infinite;
  }

  .location {
    margin-bottom: 5px;
  }

  canvas {
    width: 500px;
    height: 500px;
  }
}
