*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
}

.navbar .brand {
  height: 50px;
}

.navbar .navbar-list {
  list-style-type: none;
}

.navbar .nav-item {
  display: inline-block;
  padding: 0 10px;
}

.navbar .nav-item a {
  color: white;
}

/* main */
.main {
  padding-left: 15vw;
  padding-right: 15vw;

  background-color: #f3f3f3;
}

.wrapper {
  padding: 50px 30px;
  background-color: white;
}

.truck-image {
  text-align: center;
}

.truck-image img {
  max-height: 350px;
  max-width: 100%;
  margin-top: 40px;
}

.footer {
  height: 100px;
  background-color: #757575;
  color: white;
  padding: 0 48px;
  display: flex;
  align-items: center;
}

.buy {
  margin-top: 50px;
}

.buy h2 {
  margin: 0;
}
.buy-form {
  display: flex;
  flex-wrap: wrap;
}

.form-input {
  margin-right: 15px;
  margin-top: 10px;
}

.form-input label {
  display: block;
  font-size: 0.6rem;
}

.form-input input {
  padding: 5px 10px;
  border: 2px solid #c4c4c4;
  width: 250px;
}

.buy-form button {
  padding: 5px 15px;
  height: 29.3px;
  align-self: flex-end;
  margin-top: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  outline: none;
  border: none;
}
